<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Men&uacute;</title>
</head>
<body>
  <header>
    <div class="navbar">
      <a class="active" routerLink="/app">Men&uacute;</a>
      <a routerLink="/damas">DAMAS</a>
      <a routerLink="/snake">SNAKE</a>
      <a routerLink="/ppt">PIEDRA,PAPEL,TIJERAS</a>
    </div>
  </header>

  <img src="images/nemoris.png" width="150px">
  <h1 class="Titulo">NEMORIS</h1>
  <h3 class="Subtitulo">Empresa dedicada a la progamaci&oacute;n de videojuegos en Angular</h3>

</body>
</html>

