<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snake</title>
</head>
<body>

  <div class="contenedor">
    <div  class="tablero"   >
      <div class="puntos">
        <div class="tablero_puntos">
          <h1>Puntos <br>{{comida.PuntosA}}</h1>
          <button type="button" (click)="refresh()" class="reiniciar">
            Reiniciar
        </button>
        </div>
      </div>
      <div class="game-over" *ngIf="gameOver">
        <h1>Game Over</h1>
      </div>
      <div class="game">
      </div>
    </div>
  </div>
</body>
</html>
